@import 'normalize.css';

//root
:root {
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
  --defaul-layout-horizontal: 24px;
  --search-border-radius: 92px;
  --danger: rgb(254, 44, 85);
  --white: #fff;
  --background-btn: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  color: var(--text-color);
}
a,
a[href] {
  text-decoration: none;
  color: var(--text-color);

  background-color: var(--white);
}
