@import 'normalize.css';

//root
:root {
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
  --black: #000;
  --text-color: #333;
  --search-border-radius: 92px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
