.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    width: var(--default-layout-header-width);
    min-height: 1000px;
    display: flex;
    padding: 0px 24px;
    .content {
      flex: 1;
    }
  }
}
